/* Body */

body {
  background: linear-gradient(135deg, #ffb6c1, #ffd6a5);
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Главный блок */

.container {
  width: 700px;
  background: white;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Заголовок */

h1 {
  color: #ff4f81;
  margin-bottom: 20px;
}

/* Статистика */

.stats {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

/* Карточки */

.box {
  background: #ffe5ec;
  width: 150px;
  padding: 15px;
  border-radius: 15px;
}

/* Кот */

#cat {
  width: 220px;
  margin-bottom: 15px;
  transition: 0.1s;
  cursor: pointer;
}

/* Эффект нажатия */

#cat:active {
  transform: scale(0.95);
}

/* Кнопки */

button {
  padding: 12px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.1s;
  font-size: 16px;
}

/* Эффект кнопки */

button:active {
  transform: scale(0.95);
}

/* Главная кнопка */

#clickBtn {
  background: #ff4f81;
  color: white;
  margin-bottom: 25px;
}

/* Наведение */

#clickBtn:hover {
  background: #ff2f68;
}

/* Магазин */

.shop {
  margin-bottom: 25px;
}

/* Кнопки магазина */

.shop button {
  width: 100%;
  background: #ffd166;
  margin-top: 10px;
}

/* Задания */

.tasks {
  margin-bottom: 25px;
}

/* Карточка задания */

.task {
  background: #d8f3dc;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

/* Ачивки */

.achievement {
  background: #e9ecef;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

/* Уведомление */

#notification {
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  background: #4caf50;
  color: white;
  padding: 15px 30px;
  border-radius: 12px;
  font-size: 18px;
  transition: 0.5s;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Показывание уведомления */

#notification.show {
  top: 20px;
}
